@using SharkDev.MVC

@{
    ViewBag.Title = "Simple";
    Layout = "~/Views/_Layout.cshtml";
}

<p>
    This is an example with 10 866 nodes in a tree. Data are serialized on a HTML page. Check DataOnClient property.
</p>

@Html.SharkDev().TreeView(settings =>
{
    settings.Id = "sharkTwBigTree";
    settings.Header.Text = "Tree root - Animal";
    settings.Header.Visible = true;
    settings.Header.Expanded = true;
    settings.ClientHandlers.ContentSelect = "function (e) { $('#treeClickContainer').text(e.id + '-' + e.name + ' -' + e.parentid); }";    
    settings.Height = 300;
    settings.Width = 270;
    settings.DataOnClient = true;
}).GetContent(ViewBag.SharkTreeData)

<span id="treeClickContainer"></span>