@{
    ViewBag.Title = "Index";
    Layout = "~/Views/_Layout.cshtml";
}

<div class="container bs-docs-container">
    <div class="row">
        <div class="col-md-9" role="main"> 
            <a href="../Home/Simple" class="btn btn-primary btn-lg active" role="button">Simple</a><br /><br />
            <a href="../Home/BigTree" class="btn btn-primary btn-lg active" role="button">Big tree</a><br /><br />
            <a href="../Home/BigTreeWithAjaxAutoComplete" class="btn btn-primary btn-lg active" role="button">Big tree with AJAX auto complete</a>                         
        </div>
    </div>
</div>